@media all and (min-width: 1280px) {
  .leftpane {
      float: right;
      width: 360px;
      border-left: 1px solid #ddd;
  }

  .testcase {
      float: left;
      width:849px;
/*     margin-left: 360px;*/
  }
}

@media all and (max-width: 1279px) {
  .testcase {
     margin-left: 10px;
  }
}

html, body {
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
}
body {
  padding: 0px;
  font: 14px "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #aaa;
  margin: 0;
}




a {
  color: #000066;
  font-size: 14px;
}

a:hover {
/*  text-shadow: 1px 1px 1px lightgray;*/
  text-decoration: underline;
}

h1 {
  background-color: #fff;
  padding:20px;
  color: #555;
  font-size: 40px;
  font-weight: 300;
  margin-top: 0;
  padding-bottom:0;
}

h2, h2 a {
  font-size: 36px;
  color: white;
  font-weight: 600;
  margin:0px;
  border-radius:0;
  padding-top:5px;
  padding-bottom: 0px;
/*  text-shadow: 1px 1px 1px white;*/
}

.toc {
  font-size: 20px;
}

.toc-container {
  height: 100%;
}

.toc ul {
  list-style-type: none;
  padding: 10px;
  padding-top:0;
/*  background: #f0f0f0;*/
}

.toc ul li {
  padding-top:0px;
  padding-bottom:0px;
  margin-top:-5px;
  margin-bottom:0px;
}

.toc ul a {
  text-decoration: none;
}

h1 {
  background: #444;
  padding-top:30px;
  padding-bottom:23px;
  margin-bottom: 25px;
  border-bottom: 1px solid lightgray;
  color: #f0f0f0;
}

.toc h3 {
  margin-top:10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 0px;
/*  background: #f0f0f0;*/
  font-size: 14px;
  color: #444;
  text-shadow: 1px 1px 1px #fff;
}

.package {
    font-size: 70%;
}

.packagename {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.page {
  width: 1210px;
  margin: auto;
  box-shadow: 0px 0px 15px #222;
/*  background: #f0f0f0;*/
  background-color:white;
  margin-top: 10px;
}

.leftpane {
  padding: 0px;
  margin: 0px;
  background-color: white;
}

.toc {
/*
  width: 320px;*/
  padding: 20px;
  margin: 0px;
}

.testcase {
  background: white;
}

.toc {
/*  background: #f0f0f0;*/
  background: white;
}


#page-footer {
  clear:both;
  height:0px;
}

#footer,
#footer a {
  color: #333;
  text-shadow: 1px 1px 1px #fff;
  text-decoration: none;
  clear: both;
}

#footer {
  margin: auto;
  text-align: center;
  padding: 10px;
}

.testcase {
  margin:0px;
  margin-bottom: 0px;
  padding: 0px;
}

.testcase-header {
  padding: 30px;
}

.testcase-content {
  padding: 30px;
}

.testcase-header {
  background-color: #f0f0f0;
  background: #444;
  background: #4B5389;
  background-color: rgb(58, 88, 130);
}

.testcase-header .description {
  font-size: 18px;
  padding-top:10px;
  color: white;
}

.testcase > ul {
  list-style-type: none;
  padding-left:0px;
  padding-right:10px;
  padding-top:0px;
  padding-bottom:10px;
}

.scenarioClassName {
  font-size: 14px;
  color:#666;
  padding-left: 5px;
  padding-bottom: 2px;
  text-align: right;
  padding-right: 5px;
  border-top: lightgray solid 1px;

}

.scenario ul {
  list-style-type: none;
}
.scenarioHeader {
  padding-left: 10px;
  padding-bottom: 15px;
}

.scenario {
  position: relative;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  margin-bottom:30px;
  background-color: white;

}

.scenario-content {
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 0px;
  margin-bottom: -5px;
  background-color: white;
/*  background-color: #E9FFE9;*/
  background-color: #f7f7f7;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;

}

.scenario h3 {
  margin-top: 0px;
  font-weight: normal;
  font-size: 18px;
  color: white;
  margin-top: 8px;
  margin-bottom: 0px;
  margin-left:0px;
  margin-right: 0px;
  overflow:hidden;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 0px;
  padding-bottom: 6px;
  background-color: rgb(58, 130, 71);
  background-color: rgb(58, 88, 130);
  background-color: rgb(79, 79, 79);
}

.case {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom:10px;
  position:relative;
}

.passedCase ul.steps  {
  background-color: rgba(0, 139, 69, 0.1);
  background-color: #E9FFE9;
  background-color: #f6f6f6;
}

.failedCase ul.steps  {
  background-color: #FEE;
}

.notImplementedCase {
  background-color: #ddd;
}

.partiallyImplementedCase {
  background-color: #ffb;
}

.tag {
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.9);
  display: inline;
  margin-right:1ex;
  float: right;
  border-radius: 0px;
  text-shadow: none;
  background-color: violet;
/*  border: 1px rgb(171, 85, 208) solid; */
}

.tag a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
  padding:2px;
  padding-left: 4px;
  padding-right: 4px;
}

.tag a:hover {
    background-color: rgba(255,255,255,0.5);
}

.tag-NotImplementedYet {
  background-color: gray;
  border-color: darkgray;
}

.failed {
  background-color: #f44;
  border: #f44 solid 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-weight:bold;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: none;
}

.topRight {
  position: absolute;
  right:1em;
  top:1em;
}

.passed, .notImplementedYetBadge, .partiallyPassed {
  border-radius: 3px;
  display:inline;
  color: rgba(0, 0, 0, 0.6);
  font-weight:bold;
  font-size: 12px;
  padding-left:1em;
  padding-right:1em;
}

.passed {
  background-color: lightgreen;
  border-color: lightgreen;
}

.partiallyPassed {
  background-color: khaki;
  border-color: khaki;
}

.notImplementedYetBadge {
  background-color: #777;
  border-color: #777;
  color: #ddd;
}

.notImplementedYetTag {
  background-color: #777;
  border: #777 solid 3px;
  border-radius: 3px;
  display:inline;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
  margin-left:1em;
  vertical-align: middle;
}

.stages {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  padding-bottom: 5px;
  font-size:18px;
}

.stagetype {
  float: left;
  width:3em;
}

ul.steps {
  list-style-type: none;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: -10px;
  padding: 10px;
  padding-botom:0px;
  position:relative;
/*  text-shadow: 1px 1px 1px white;*/
/*  border-top: 1px lightgray solid;*/
  font-size:16px;
}

ul.steps li {
  padding-bottom:1px;
}

.introWord {
  display: inline-block;
  min-width: 3em;
  text-align: right;
}

.caseArgument {
  color: midnightblue;
  font-weight:bold;
}

.argument {
  color: darkmagenta;
}

.multiline {
  font-family: monospace;
  border: 1px solid lightgray;
  background-color: white;
  display: inline-table;
  white-space: pre;
  margin: 5px;
}

.scenario h4 {
  color: #000;
  font-weight: normal;
  font-size: 15px;
  padding: 0px;
  padding-left: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 10px;
  text-shadow: 1px 1px 1px #eee;
}

.scenario h5 {
  color: #333;
  margin-bottom: 0;
  margin-top: 0;
  padding-left:10px
  font-size: 18px;
  font-weight: normal;
}

.data-table {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  border: 1px solid lightgray;
  border-collapse:collapse;
/*  box-shadow: 1px 1px 2px lightgray;*/
  background-color: white;
}

.data-table th, .data-table td {
  border: 1px solid lightgray;
}

.data-table td {
  padding: 10px;
}

.data-table th {
  background-color: #444;
  color: white;
  padding: 8px;
}

.data-table tr:nth-child(odd) {
  background-color: #eee;
}

.scenario-footer {
  text-align:right;
  padding:5px;
  padding-right:5px;
  padding-bottom:5px;
  padding-top:0px;
  margin:0;
  margin-right:0px;
  margin-left:0px;
  margin-top: 0px;
  background-color: #E9FFE9;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;

}

.scenario-footer a {
  text-decoration: none;
  color: #888;
  font-size: 14px;
  padding: 5px;
}

.notImplementedYet {
  color: gray;
}
