@media all and (min-width: 800px) {
  #col-container {
      display: table;
  }

  #leftpane {
      display: table-cell;
      vertical-align: top;
      border-right: 1px solid #ddd;
  }

  #rightpane {
      display: table-cell;
      vertical-align: top;
      width:100%;
  }

  #content {
      display: inline-block;
  }
}

@media all and (max-width: 800px) {
  #rightpane {
     margin-left: 10px;
  }
}

html, body {
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0px;
  font: 14px "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #aaa;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a#toggle-btn {
  color: gray;
  text-decoration: none;
  display:block;
  text-align:right;
  font-weight: bold;
  padding-right: 1ex;
  padding-left: 1ex;
}

a#toggle-btn:hover {
  background-color: lightgray;
}

h1 {
  background-color: #fff;
  padding:10px;
  color: #555;
  font-size: 32px;
  font-weight: 300;
  margin-top: 0;
  padding-bottom:0;
}

h2, h2 a {
  font-size: 32px;
  color: white;
  font-weight: 600;
  margin:0px;
  border-radius:0;
  padding-top:5px;
  padding-bottom: 15px;
  padding-left: 20px;
  display: inline-block;
  float: left;
}

#content-search-input {
  margin-bottom: 10px;
}

#toc {
  font-size: 20px;
  padding: 10px;
  margin: 0px;
  min-width: 10em;
}

#toc-container {
  height: 100%;
}

#toc ul {
  list-style-type: none;
  padding:0px;
  padding-left:10px;
  margin:0px;
  white-space-collapsing:discard;
  font-size:0px;
}

#toc > ul {
  margin-top: 5px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#toc ul li {
  padding-top:3px;
  padding-bottom:0px;
  margin-top:0px;
  margin-bottom:0px;
  font-size: 14px;
  line-height: 1.25;
}

#toc ul li a {
  text-decoration: none;
  color: #000066;
  font-size: 14px;
}

#toc ul h4 {
  color: #444;
  padding:0;
  margin:0;
  font-weight: normal;
  cursor: pointer;
}

#toc-search-input {
  margin-left: 10px;
  margin-top: 5px;
  width: 90%;
}

.search-input, .search-input:focus {
  border: 1px solid gray;
  border-radius: 15px;
  font-size: 12px;
  padding: 3px 8px;
}

.search-input:focus {
  outline: none;
  box-shadow: 0px 0px 3px blue;
}

h1 {
  background: #444;
  padding-top:30px;
  padding-bottom:23px;
  margin-bottom: 25px;
  border-bottom: 1px solid lightgray;
  color: #f0f0f0;
}

#toc {
  position:relative;
}

#toc h3 {
  margin:0px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 0px;
}

#toc h3, #toc h3 a {
  font-size: 14px;
  color: #444;
  text-shadow: 1px 1px 1px #fff;
}

#toc > .icon-cancel {
  position: absolute;
  top: 2px;
  right: 2px;
  color: gray;
  font-size: 12px;
  cursor: pointer;
}

#toc .icon-cancel:hover {
  color: lightgray;
}

#show-menu-icon {
  position: absolute;
  top: 3px;
  left: 3px;
  cursor: pointer;
  color: lightgray;
  font-size: 12px;
}

#show-menu-icon:hover {
  color: white;
}


.package {
    font-size: 70%;
}

.packagename {
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}

#page {
  margin:0;
  box-shadow: 0px 0px 15px #222;
  background-color:white;
}

#leftpane {
  padding: 0px;
  margin: 0px;
  background-color: #efefef;
}

#page-footer {
  clear:both;
  height:0px;
}

#footer,
#footer a {
  color: #333;
  text-shadow: 0px 1px 0px #ddd;
  text-decoration: none;
  clear: both;
}

#footer {
  margin: auto;
  text-align: center;
  padding: 10px;
}

#rightpane {
  margin:0px;
  margin-bottom: 0px;
  padding: 0px;
  background: white;
}

#content {
  padding: 20px;
  background: white;
}

#header {
  position: relative;
  background-color: #f0f0f0;
  background: #444;
  background: #4B5389;
  background-color: rgb(58, 88, 130);
  /* box-shadow: 2px 2px 5px gray; */
  border-bottom: 1px solid lightgray;
}

#header-title:after {
  content: "";
  display: table;
  clear: both;
}

#header .description {
  font-size: 18px;
  padding-top:10px;
  color: white;
  color: black;
  background-color: rgb(255, 255, 239);
  padding: 20px;
}

#content > ul {
  list-style-type: none;
  padding-left:0px;
  padding-right:10px;
  padding-top:0px;
  padding-bottom:10px;
}

.scenarioClassName {
  font-size: 14px;
  color:#666;
  padding-left: 5px;
  padding-bottom: 2px;
  text-align: right;
  padding-right: 5px;
  border-top: lightgray solid 1px;

}

.scenario ul {
  list-style-type: none;
}
.scenarioHeader {
  padding-left: 10px;
  padding-bottom: 15px;
}

.scenario {
  position: relative;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  padding-bottom:15px;
  margin-bottom:15px;
  background-color: white;
  min-height: 5px;
  clear: both;
}

.scenario-body {
  border-bottom: lightgray solid 1px;
}

.scenario-content {
  clear: both;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 0px;
  background-color: white;
}

.scenario h3 {
  vertical-align: middle;
  margin-top: 8px;
  margin-top: 8px;
  margin-bottom: 0px;
  margin-left:0px;
  margin-right: 0px;
  overflow:hidden;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 1ex;
  padding-bottom: 0px;
  background-color: white;
  float: left;
}

.scenario h3, .scenario h3 a {
  font-weight: bold;
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.icon-ok {
  color: green;
}

.icon-cancel {
  color: red;
}

.case {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  position:relative;
}

.passedCase ul.steps  {
  background-color: rgba(0, 139, 69, 0.1);
  background-color: #E9FFE9;
  background-color: #f6f6f6;
  background-color: white;
}

.failedCase ul.steps  {
  background-color: #FEE;
  background-color: white;
}

.notImplementedCase {
  background-color: #ddd;
}

.partiallyImplementedCase {
  background-color: #ffb;
}

.tag-line {
  margin-top: 4px;
  vertical-align: middle;
  float: right;
  opacity: 0.9;
}

.tag {
  vertical-align: middle;
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.9);
  margin-right:0;
  border-radius: 0px;
  text-shadow: none;
  margin-left: 1ex;
  margin-right: 5px;
  margin-top: 5px;
  display: inline-block;
  border-radius: 4px;
  background-color: violet;
}

.tag a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
  padding-bottom:1px;
  padding-top: 0px;
  padding-left: 4px;
  padding-right: 4px;
}

.tag a:hover {
    background-color: rgba(255,255,255,0.5);
}

.tag-NotImplementedYet {
  background-color: gray;
  border-color: darkgray;
}

.failed {
  background-color: #f44;
  border: #f44 solid 3px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-weight:bold;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: none;
}

.badge.failed {
  border: 2px;
}

.topRight {
  position: absolute;
  right:1em;
  top:1em;
}

.passed, .badge, .notImplementedYet, .partiallyPassed {
  border-radius: 3px;
  display:inline;
  color: rgba(0, 0, 0, 0.6);
  font-weight:bold;
  font-size: 12px;
  padding: 1px;
  padding-left:8px;
  padding-right:8px;
  vertical-align: middle;
  margin-left: 1em;
  margin-right: 1em;
}

.badge {
  position: relative;
  top: -1px;
}

.passed {
  background-color: lightgreen;
  border-color: lightgreen;
  margin-left: 0;
  margin-right: 0;
}

.partiallyPassed {
  background-color: khaki;
  border-color: khaki;
}

.notImplementedYet, .skipped {
  background-color: #777;
  border-color: #777;
  color: rgb(245, 245, 245);
}

.notImplementedYetTag {
  background-color: #777;
  border: #777 solid 3px;
  border-radius: 3px;
  display:inline;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
  margin-left:1em;
  vertical-align: middle;
}

.count {
  background-color: #aaa;
  color: white;
  border-radius: 7px;
  font-size: 10px;
  margin-right: 0em;
  margin-left: 0.5em;
  background-color: gray;
}

.stages {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  padding-bottom: 5px;
  font-size:18px;
}

.stagetype {
  float: left;
  width:3em;
}

ul.steps {
  list-style-type: none;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0px;
  padding: 10px;
  padding-left: 18px;
  padding-botom:0px;
  position:relative;
  font-size:16px;
}

.collapsed {
  display:none;
}

ul.steps li {
  padding-bottom:1px;
}

.introWord {
  display: inline-block;
  min-width: 3em;
  text-align: right;
  color: black;
}

.caseArgument {
  color: midnightblue;
  font-weight:bold;
}

.argument {
  color: darkmagenta;
}

.multiline {
  font-family: monospace;
  border: 1px solid lightgray;
  background-color: white;
  display: inline-table;
  white-space: pre;
  margin: 5px;
}

.diff {
  background-color: rgb(207, 237, 247);
  padding: 0 5px 0 5px;
  border-radius: 2px;
}

.highlight {
  background-color: yellow;
}

.show-extended-description {
  padding: 1px;
  padding-left:4px;
  padding-right:4px;
  border: 1px solid gray;
  border-radius: 10px;
  color: gray;
  font-weight: bold;
  min-width: 20px;
  cursor: pointer;
  font-size: 10px;
  font-family: monospace;
  vertical-align: middle;
}

.show-extended-description:hover {
  color: #222;
  border-color: #222;
}

.extended-description-content {
  position: relative;
  color: #222;
  background-color: rgb(207, 237, 247);
  border-radius: 3px;
  box-shadow: 0px 0px 2px lightgray;
  padding: 7px;
  padding-right: 20px;
  margin-left: 1em;
  margin-bottom: 5px;
  font-size: 14px;
  font-style: italic;
  display: inline-block;
}

.extended-description .icon-cancel {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #aaa;
  cursor: pointer;
}

.scenario h4 {
  color: #333;
  font-weight: bold;
  font-size: 15px;
  padding: 0px;
  padding-left: 5px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-top: 0px;
  text-shadow: 1px 1px 1px #eee;
  cursor: pointer;

}

.scenario h5 {
  color: #333;
  margin-bottom: 0;
  margin-top: 0;
  padding-left:10px
  font-size: 18px;
  font-weight: normal;
}

.data-table {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 20px;
  border: 1px solid lightgray;
  border-collapse:collapse;
  background-color: white;
}

.data-table th, .data-table td {
  border: 1px solid lightgray;
}

.data-table td {
  padding: 10px;
}

.data-table th {
  background-color: #444;
  color: white;
  padding: 8px;
}

.data-table tr:nth-child(odd) {
  background-color: #eee;
}

.scenario-footer {
  clear: both;
  text-align:right;
  padding:5px;
  padding-right:5px;
  padding-bottom:5px;
  padding-top:0px;
  margin:0;
  margin-right:0px;
  margin-left:0px;
  margin-top: 0px;
}

.scenario-footer a {
  text-decoration: none;
  color: #888;
  font-size: 14px;
  padding: 5px;
}

.statistics {
  padding-top:10px;
}

.statistics-number {
  padding: 20px;
  border: solid #e0e0e0 1px;
  border-radius: 20px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #f0f0f0;
}

.statistics-number a {
  display: inline-block;
  color: red;
}

.statistics-number.failed {
  background-color: #f0f0f0;
}

.statistics-number i {
  font-size: 20px;
  color: #222;
  font-weight: 200;
  font-style: normal;
}

.statistics-number.failed i {
  color: red;
  font-weight: bold;
}

.statistics-number b {
  text-transform: uppercase;
  font-size: 14px;
  color: gray;
}

.statistics-number.failed b {
  color: red;
}

.duration {
  opacity: 0.5;
  font-size: 10px;
}
