.tag, .passed {
   -webkit-print-color-adjust:exact;
}

#header {
  -webkit-print-color-adjust:exact;
}

.packagename {
  color: black;
}

h2 {
  color: black;
}

#toc {
  display: none;
}

.scenario h3 {
  font-size: 12pt;
}

ul.steps {
  font-size: 10pt;
}

.scenario-footer a {
  font-size: 8pt;
}
