.tag, .passed {
   -webkit-print-color-adjust:exact;
}

#header {
  background-color: white;
  -webkit-print-color-adjust:exact;
}

h2, .packagename, #header .description {
  color: black;
}


#leftpane {
  display: none;
}

.scenario h3 {
  font-size: 12pt;
}

ul.steps {
  font-size: 10pt;
}

.scenario-footer a {
  font-size: 8pt;
}
