body {
    height: 100%;
}

#title {
    margin-left: 10px;
}

h2.subtitle {
    font-size: 1.1rem;
    color: #6f6f6f;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    color: #4f4f4f;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
    line-height: 1.3;
}

h5 {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    margin-left: 0.5rem;
}

a, a:visited {
    color: #5A5A5A;
}

.header-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}

.tag.hidden {
    display: none;
}

.title {
    position: relative;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem !important;
}

.title-column {
    padding: 0;
}

.top-bar, .top-bar-section ul li {
    background-color: rgb(0, 128, 0);
}

.page-icon-bar {
    position: absolute;
    top: 0;
    right: 1rem;
}

.expand-icon, .collapse-icon, .print-icon, .remove-bookmark-icon, .add-bookmark-icon {
    color: #6f6f6f;
}

.expand-icon:hover, .collapse-icon:hover, .print-icon:hover,
.scenario:hover .scenario-link-icon:hover,
.remove-bookmark-icon:hover, .add-bookmark-icon:hover {
    color: green;
}

.remove-bookmark-icon {
    float: right;
    color: #aaa;
}

.bookmarked {
    color: darkred;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: 2px 2px 3px #aaa;
}

.scenario-list-button-bar .button {
    background-color: white;
    padding: 0.5rem;
    position: relative;
}

.scenario-list-button-bar li {
    position: relative;

}

/**
 * Ugly workaround to fix an issue with foundation where
 * the drop-down menu is positioned outside of window
 * --->
 */
.scenario-list-button-bar .f-dropdown:before {
    right: 15px;
    left: initial;
}

.scenario-list-button-bar .f-dropdown:after {
    right: 14px;
    left: initial;
}

.scenario-list-button-bar .f-dropdown {
    position: absolute;
    left: -50px !important;
    min-width: 150px;
}

#tag-drop-down {
    left: -200px !important;
    min-width: 300px;
}

#class-drop-down {
    left: -400px !important;
    min-width: 500px;
}

/**
 * <--- Ugly workaround end
 */

.scenario-group-header {
    position: relative;
    margin-bottom: -20px;
    margin-top: 25px;
    padding-right: 10px;
    /*    background-color: rgb(229, 229, 229);
        border-radius: 5px;
        */
    padding: 0.4rem;
    padding-left: 0rem;
    border-top: 1px solid #aaa;
    line-height: 0;
}

h3.scenario-group-header {
    font-size: 1.3rem;
    color: #333;
}

span.scenario-group-header-name {
    background-color: #fff;
    padding-right: 1rem;
    color: #444;
    position: relative;
    top: -18px;
}

span.scenario-group-header-name.failed {
    color: red;
}

.scenario-list-button-bar .fa {
    /* color: gray; */
}

.scenario-list-button-bar .red {
    color: red;
}

.scenario-list-button-bar .gray {
    color: gray;
}

.scenario-list-button-bar .bold {
    color: black;
    font-weight: bold;
}

.scenario-list-button-bar .fa.fa-check {
    color: white;
    margin-right: 0.5rem;
}

.fa.fa-check.unselected {
    color: white;
}

.cases-group-header {
    background-color: #e8e8e8;
    border-bottom: 1px solid #ddd;
}

.button.group-by {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    background-color: white;
}

.button.icon-button {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: white;
}

.scenario-list-button-bar .fa.selected {
    color: black;
}

.scenario-column {
    position: relative;
}

.scenario-expand-icon, .case-expand-icon {
    color: gray;
}

.scenario-expand-icon {
    position: absolute;
    left: 1rem;
    top: 0.40rem;
}

.pagination-top {
    padding-top: 0;
    padding-bottom: 0;
}

.pagination-bottom {
    margin-top: 2rem;
}

.scenario-extended-description-icon {
    color: #bbb;
    border-bottom: none !important;
    font-size: 80%;
}

.scenario-extended-description {
    color: rgb(75, 75, 75);
    padding: 0.5rem 0;
    margin-top: 0.2rem;
    font-size: 0.9rem;
    max-width: 35rem;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 0.5rem;
}

.scenario-extended-description p {
    font-size: 0.9rem;
}

.scenario-extended-description a {
    color: rgb(60, 120, 60)
}

.scenario-group-name {
    color: #555;
    margin-right: 0.5rem;
}

.scenario-title, .scenario-extended-description {
    margin-left: 1.1rem !important;
}

.scenario-title.failed {
    color: red;
}

.scenario-case-title.failed {
    color: red;
}

.scenario-title.pending {
    color: gray;
}

.case-expand-icon {
    width: 1rem;
}

.scenario-link-icon {
    display: inline;
    float: right;
    margin-top: 0.5rem;
    color: lightgray;
}

.steps {
    list-style-type: none;
    padding-top: 0.5rem;
    margin-left: 1.3rem;
}

.nested-step {
    position: relative;
    padding-left: 1rem;
    border-left: 1px solid #eee;
    margin-left: 1px;
    line-height: 1.4;
}

.has-tip {
    font-weight: normal !important;
}

.case-count {
    vertical-align: text-bottom;
}

.group-count.label.secondary {
    vertical-align: middle;
    margin-top: 0;
    margin-left: 0.5rem;
    margin-bottom: 0.1rem;
}

.total.group-count.label.secondary {
    background-color: #eee;
    color: black;
}

.failed.group-count.label.secondary {
    margin-left: 0rem;
}

.pending.group-count.label.secondary {
    background-color: #555;
    color: white;
    margin-left: 0rem;
}

.nav-count {
    margin-top: -2px;
    float: right;
}

.nav-count.failed {
    background-color: red;
    color: white;
}

table.steps {
    border: none;
    border-spacing: 0;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
}

td.steps {
    padding: 0.2rem;
    vertical-align: top;
    font-size: 1rem;
}

td.steps.intro-word {
    text-align: right;
    vertical-align: top;
    font-size: 1rem;
    position: relative;
}

td.steps.section-title {
    text-align: left;
    font-size: 0.8rem;
    position: relative;
    padding-top: 0.8rem;
    color: #555;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
}

.step-expand-icon {
    position: absolute;
    color: #888;
}

td.steps.intro-word .step-expand-icon {
    top: 4px;
    left: -0.6rem;
}

.nested-step .step-expand-icon {
    top: 3px;
    left: -1px;
    background-color: white;
}

table.steps tr.steps {
    background-color: white;
}

table.steps tr.steps:hover {
    background-color: #eee;
}

table.steps tr.steps:hover .nested-step {
    border-left: 1px solid #aaa;
}

table.steps tr.steps:hover .nested-step .step-expand-icon {
    background-color: #eee;
}

.table-value {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.header-cell {
    font-weight: 700;
}

.multiline {
    font-family: monospace;
    border: 1px solid lightgray;
    background-color: white;
    display: table;
    white-space: pre;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.diff {
    font-weight: bold;
}

.class-name {
    text-align: right;
    color: #6f6f6f;
    font-size: 0.8rem;
}

.check {
    color: green;
    font-size: 1rem !important;
    padding-left: 0.2rem;
}

.small-check {
    color: green;
    font-size: 0.7rem !important;
}

.duration {
    font-size: 0.666rem;
    color: #666;
}

.label.failed {
    color: white;
    vertical-align: middle;
    margin-bottom: 0.1rem;
}

.failed-icon {
    color: red;
    font-size: 0.9rem !important;
}

.FAILED {
    color: red;
}

.SKIPPED, .PENDING {
    color: #aaa !important;
}

.PASSED {
}

.label.pending {
    vertical-align: middle;
    margin-bottom: 0.1rem;
    background-color: #555;
    color: white;
}

.skipped {
    color: #aaa;
    font-size: 0.7rem !important;
}

.collapsed {
    display: none;
}

.word {
    color: #333;
}

.word.FAILED {
    color: red;
}

.word.SKIPPED {
    color: gray !important;
}

.argument {
    color: black;
    font-shadow: 1px 1px 1px gray;
}

pre.exception {
   overflow: auto;
   white-space:normal;
}

.attachment-index {
    vertical-align: top;
    font-size: 0.5rem;
}

.direct-image {
    max-width: 500px;
    max-height: 400px;
    margin-top: 0.8rem;
}

.direct-image:hover {
    max-width: 100%;
    max-height: 100%;
}

.data-table td {
    max-width: 25rem;
    overflow: auto;
}

.toggle {
    cursor: pointer;
}

.sort-icon {
    color: #aaa;
    font-size: 0.8rem;
}

.fa-caret-up {
    top: -3px;
}

.fa-caret-down {
    top: 3px;
}

input.search {
    position: relative;
    border-radius: 5rem;

    padding-left: 2rem;

    /* needed for FF */
    padding-top: 0;
    padding-bottom: 0;
}

.nav-hide-icon, .nav-show-icon {
    position: absolute;
    color: #aaa;
    padding: 0.5rem;
    cursor: pointer;
}

.nav-hide-icon {
    right: 0;
    top: 0;
}

.nav-hide-icon:hover {
    color: black;
    background: #eee;
}

.nav-show-icon:hover {
    color: #333;
    background: #efefef;
}

.nav-show-icon {
    color: #ccc;
    left: 0.1rem;
    top: 75px;
    z-index: 3;
}

#nav-move-icon-container {
    position: absolute;
    padding: 5px;
    right: 15px;
    top: 400px;
    z-index: 3;
}

#nav-move-icon {
    position: fixed;
    color: #e0e0e0;
    cursor: col-resize;
}

#nav-search {
    height: 1.7rem;
}

.tab-bar-search-section {
    width: 10rem;
}

#nav-search-mobile {
    height: 1.7rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    width: 14rem;
}

.search-icon {
    position: absolute;
    left: 1.5rem;
    top: 0.8rem;
    color: #333;
}

.tab-bar-search-section .search-icon {
    left: 0rem;
}

ul.off-canvas-list li.off-canvas-label > a {
    background: #444;
    border-bottom: none;
    border-top: 1px solid #5e5e5e;
    color: #999999;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.3rem 0.9375rem;
    text-transform: uppercase;
    margin: 0;
}

ul.off-canvas-list li.off-canvas-label > a:hover {
    background: #222;
}

.content {
    position: relative;
    background: white;
    padding-bottom: 5rem;
    max-width: 100%;
    min-height: 100%;
    height: 100%;
}

.scenario {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
    margin-bottom: 0rem;
    padding-top: 0.5rem;
    margin-left: -0.975rem;
}

.scenario.last {
    border-bottom: none;
    margin-bottom: 10px;
}

.scenario-content {
    background-color: white;
}

#scenario-container {
    position: relative;
    padding-top: 1rem;
    padding-left: 3rem;
    margin-left: 25rem;
    margin-top: 76px;
    margin-right: 15px;
    padding-bottom: 50px; /* space for footer */
    background-color: white;
    border-left: 1px solid #ddd;
    min-height: 100%;
}

#scenario-container.embed {
    margin-left: 0;
    margin-top: 0;
    border-left: none;
}

body, .footer-bottom {
    background: none repeat scroll 0 0 white;
}

#sidebar {
    background: none repeat scroll 0 0 #fafafa;
    padding: 0px;
    position: fixed;
    top: 76px;
    bottom: 0;
    overflow: auto;
    width: 25rem;
}

ul.tags {
    list-style: none;
    margin-left: 0.8rem;
}

ul.pagination li.current a {
    background-color: green;
}

.side-nav li a:not(.button) {
    color: rgb(85, 85, 85); /*#5A5A5A darkgreen; */
}

.side-nav li a:not(.button) {
    padding: 0.5rem 1.8rem;
}

a:hover, a:focus,
.side-nav li.heading a:hover,
.side-nav li.heading a:focus,
.side-nav li.heading li a:hover,
.side-nav li.heading li a:focus {
    color: green;
}

.side-nav li li a:not(.button) {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    color: #5A5A5A;
}

.side-nav, .side-nav ul {
    line-height: 1.2;
}

.side-nav ul {
    list-style: none;
    margin-left: 0;
}

.side-nav ul ul {
    margin-left: 0.8rem;
    margin-top: 0.3rem;
}

li.heading {
    margin-top: 0.5rem;
}

li.subheading {
    margin-top: 0.2rem;
}

li.heading ul {
    text-transform: none;
}

li.subheading {
    color: #008cba;
    font-weight: bold;
}

li.subheading > ul {
    padding-top: 0.5rem;
    padding-left: 0rem;
    margin-left: 1.3rem;
    margin-top: 0;
}

/**
 * Navigation trees
 */

i.transparent {
    color: transparent;
}

.open-tree-node-icon {
    color: #eee;
}

div.tree-node {
    position: relative;
}

div.tree-node:hover {
    background-color: #eee;
}

div.tree-node:hover .open-tree-node-icon {
    color: inherit;
}

a.show-tree-node-link {
    display: inline !important;
    position: absolute;
    right: 1.8rem;
    top: 0;
    padding: 0 !important;
}

div.tree-node:hover a {
    background: none !important;
}

a.show-tree-link:hover {
    background: none !important;
}

.footer-bottom {
    position: absolute;
    padding: 20px 0 2px;
    color: #555;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 0.8rem;
    text-align: right;
}

.footer-bottom a {
    color: #005C7B;
}

#loading-modal {
    position: fixed;
    top: 76px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2000;
}

#loading-modal > h1 {
    position: absolute;
    left: 40%;
    top: 40%;
    color: gray;
}

.off-canvas-wrap, .inner-wrap {
    min-height: 100%;
    height: 100%;
}

.off-canvas-wrap {
    overflow: auto;
}

.page-statistics {
    color: gray;
}

.statistics-chart-column {
    text-align: right;
}

.statistics-chart {
    width: 15em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.no-pad-right {
    padding-right: 0;
}

.no-pad-left {
    padding-left: 0;
}

@media only screen and (max-width: 64em) {
    #scenario-container {
        margin-left: 0 !important;
        padding-left: 2rem;
        border-left: none;
        margin-top: 0;
    }

    #sidebar, .header-fixed, .page-icon-bar, .scenario-link-icon {
        display: none;
    }
}

@media only screen and (min-width: 64.063em) {
    .tab-bar {
        display: none;
    }
}

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
    #scenario-container {
        margin-left: 15rem;
    }

    #sidebar {
        width: 15rem;
    }
}

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
    #scenario-container {
        margin-left: 21rem;
    }

    #sidebar {
        width: 21rem;
    }
}

/* avoid showing angularjs expressions on page loading */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important
}
