name: Java CI with Gradle
on: [push, pull_request]

jobs:
  build:
    name: Build JGiven on Java ${{ matrix.java }} with Junit ${{matrix.junit}}
    runs-on: ubuntu-latest
    env:
      ANDROID: true
    strategy:
      matrix:
        java: [ '11', '13']
        junit: ['4.12','4.13']
    steps:
      - name: Ensure firefox is installed
        run: sudo apt-get install firefox
      - uses: actions/checkout@v3.5.0
      - name: Set up JDK ${{matrix.java}}
        uses: actions/setup-java@v3.11.0
        with:
          java-version: ${{matrix.java}}
          distribution: 'adopt'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle  and Junit ${{matrix.junit}}
        env:
          JUNIT_VERSION: ${{matrix.junit}}
        run:   "./gradlew -i -s check -DjunitVersion=${JUNIT_VERSION}"
      - name: Run Jacoco
        if: ${{matrix.java == '11' && github.ref == 'refs/heads/master' && github.head_ref == null}}
        run: ./gradlew overallJacocoReport coveralls
      - name: Upload test results html files
        continue-on-error: true
        if: ${{failure()}}
        uses: actions/upload-artifact@v3.1.2
        with:
          name: test-report_${{matrix.java}}_${{matrix.junit}}
          path: /home/runner/work/JGiven/JGiven/*/build/reports/tests
          if-no-files-found: ignore
