name: Renovate-Dry-Run
on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch that renovate should operate on"
        type: string
        required: true

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Renovate-dry-run
        uses: renovatebot/github-action@v40.0.3
        with:
          configurationFile: renovate.json
          token: ${{secrets.RENOVATE_TOKEN}}
        env:
          LOG_LEVEL: "debug"
          RENOVATE_DRY_RUN: "full"
          RENOVATE_BASE_BRANCHES: ${{inputs.branch}}
          RENOVATE_REPOSITORIES: "TNG/JGiven"
