name: "Test bash functions"
on: [push, pull_request]

jobs:
  validateReleaseFunctions:
    name: "validate release functions"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.2
      - name: Run release functions test
        run: "bash scripts/tests/test_release_functions.sh"
  validateHelperFunctions:
    name: "validate helper functions"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.2
      - name: Run helper functions test
        run: "bash scripts/tests/test_helper_functions.sh"
